.box-condidate{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
 
.content{
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: white;
    text-align: center;
    transition: all 1.0s;
    
    
}
 
.box-condidate:hover .content{
    bottom: 0;
    
}